/* .container {
    padding: 2rem 0rem;
} */
.bar {
    width: 40vw;
}
@media (min-width: 861) {
    .bar input {
        width: 80% !important;
    }
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media (max-width: 860) {
    .bar {
        width: 30% !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
    }
    .modal-dialog .modal-content {
        padding: 1rem;
    }
}
@media (min-width: 709px) {
    /* .small-icon {
        display: none;
    } */
    .srch-icon {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .show-side-menu {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .menu {
        display: none !important;
    }
}
@media (max-width: 708px) {
    .bar {
        display: none;
    }
}
@media (min-width: 709px) {
    .hidden-search {
        display: none !important;
    }
}

@media screen and (max-width: 674px) {
    .user {
        float: left;
        display: none;
        width: 60% !important;
    }
}

@media screen and (max-width: 1200px) {
    .hidelink {
        display: none;
        outline: none;
    }
    .out {
        outline: none;
    }
}
.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

.dropdown-toggle {
    text-decoration: none;
}

.nav-item {
}

.nav-item .nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#sideModal {
    width: 80% !important;
}
.men-modal-header {
    background-color: #74ded8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.model-item:hover {
    background-color: #74ded8 !important;
    border-radius: 5px;
}

.hidden-search {
    width: 80%;
}
/*
.hidden-search {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    left: 30%;

    display: none;
}*/

.hidden-search input {
    box-sizing: border-box;
    border: 1px solid #007bff !important;
}

.carousel .carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    background-color: #f8f9fa;
}

.carousel .carousel-indicators .active {
    background-color: rgb(221, 68, 68) !important;
}
