/* .container {
    padding: 2rem 0rem;
} */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
    }
    .modal-dialog .modal-content {
        padding: 1rem;
    }
}

@media screen and (max-width: 674px) {
    .user {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .hidelink {
        display: none;
        outline: none;
    }
    .out {
        outline: none;
    }
}
.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

.dropdown-toggle {
    text-decoration: none;
}

.nav-item {
}

.nav-item .nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}
